<div data-sly-use.modelo='com.adobe.aem.guides.wknd.core.models.SeccionClientesModel'
        data-cmp-is="imagenes-clientes"
        class="cmp-clientes-container">

        <h1>${modelo.titulo}</h1>

        <div data-sly-list.seccion="${modelo.seccion}"
            class="cmp-clientes-imagenes-img-container"
            id="${seccion.id}">

            <h1> <span class="subtitulo"> Categoría </span> ${seccion.id}</h1>

            <div class="imagenes">

                <div data-sly-list.imagen="${seccion.multilista}"
                    class="imagen-list">
                
                    <img src="${imagen.imagenPath}" alt="imagen">
                    
                </div>

            </div>
            

        </div>
</div>