.cmp-mixto{

    background-color: rgb(189, 186, 186);

    .cmp-mixto-botones-btn{

        background-color: rgb(10, 87, 150);
        color: white;
        padding: 30px, 40px;
        text-decoration: none;
        border-radius: 5px;
    }
}