.cmp-pokemon {
   
    .cmp-pokemon__button{

        color: black;
    }

    .cmp-pokemon__name{

        color: black;
    }
}

.navidad{

    .cmp-pokemon{

        .cmp-pokemon__name{

            color: red;
        }
    }
}

.gris{

    .cmp-pokemon{

        .cmp-pokemon__name{

            color:gray;
        }
    }

}